/* ローディング画面の背景 */
#LOADING {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10100;
    display: none;
    animation: change-color-loading-after .3s ease both .3s;
}

@keyframes change-color-loading-after {
    0% {
        background: rgba(250, 250, 250, 0.5);
    }
    100% {
        background: rgba(250, 250, 250, 0.5);
    }
}

/*ローディング部分のアニメーション*/
#LOADING #LOADING-ANIMATION {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto !important;
    width: 50px;
    height: 50px;
}

#LOADING-ANIMATION #LOADING-ANIMATION-CIRCLE {
    width: 80px;
    height: 80px;
    border-radius: 150px;
    border: 5px solid #fff;
    border-top-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    position: absolute;
    top: 20%;
    left: 25%;
    animation: circle 1s linear infinite;
    -webkit-animation: circle 1s linear infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes circle {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}