/* ローディング画面の背景 */
.LOADING {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10100;
    transition: opacity 1s ease;
    animation: change-color-loading-after .3s ease both .3s;
    opacity: 0;
    display: none;
}

@keyframes change-color-loading-after {
    0% {
        background: rgba(128, 128, 128, 0.4);
    }

    100% {
        background: rgba(128, 128, 128, 0.4);
    }
}

/*ローディング部分のアニメーション*/
div.LOADING>div.LOADING-ANIMATION {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto !important;
    width: 100px;
    height: 100px;
}

div.LOADING-ANIMATION>div.LOADING-ANIMATION-CIRCLE {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 4px solid #444343;
    border-radius: 100%;
    animation-fill-mode: both;
    animation: loading-circle-animation 1s 0s infinite cubic-bezier(1, 1, 1, 1);
}

@keyframes loading-circle-animation {
    0% {
        transform: scale(0.1);
        opacity: 1;
    }

    70% {
        transform: scale(1);
        opacity: 0.7;
    }

    100% {
        opacity: 0.0;
    }
}