name: SUB CICD Chalice
on:
  workflow_call:
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: us-east-1

jobs:
  cicd-chalice:
    name: pytest and deploy chalice
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./chalice
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Build
        run: |
          pip install -r requirements.txt

      - name: Pytest
        run: |
          pytest

      - name: Deploy Chalice
        run: chalice deploy --stage main
